// @keyframes fadeInUp {
//   from {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// .animate-fadeInUp {
//   animation: fadeInUp 1s ease forwards;
// }

// .delay-200 {
//   animation-delay: 0.2s;
// }

// @keyframes blob {
//   0% { transform: scale(1) translate(0, 0); }
//   33% { transform: scale(1.1) translate(30px, -20px); }
//   66% { transform: scale(0.9) translate(-20px, 30px); }
//   100% { transform: scale(1) translate(0, 0); }
// }

// .animate-blob {
//   animation: blob 8s infinite;
// }

// .animation-delay-2000 {
//   animation-delay: 2s;
// }


img {
  opacity: 0;
}
.opacity-100 {
  opacity: 1 !important;
}
.opacity-0 {
  opacity: 0 !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

